*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header section*/
.navbar{
  width: 100vw;
  display: flex;
  align-items: center;
  padding-left: 50px;
  justify-content: space-between;
  background: black;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#logo-text{
  font-size: 60px;
  font-weight: 500;
  font-family: 'Lobster', sans-serif;
  font-family: 'Playball', cursive;
  color: #edece8;
}

.menu {
  margin-right: 50px;
  width: 50vw;
}

.list{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.list-item > a {
  color: #edece8;
}
/* navbar end */


/* herosection start */

.herosection{
  height: 400px;
  width: 100vw;
  background-color: rgb(248, 224, 228);
  padding: 50px 70px;
  display: flex;
}

.herosection-text {
  padding-left: 20px;
  padding-right: 20px;
}

.lorem {
margin-bottom: 15px;
}


.learn-more-btn{
  color: white;
  background-color: orange;
  border-radius: 3px;
  border: none;
  padding: 10px 10px;
  width: 120px;
  margin-top: 10px;
  font-weight: bold;
}

.herosection-image {
  height: 100%;
  width: auto;
}

/* herosection end */

