*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Header section*/
.navbar{
  width: 100vw;
  display: flex;
  align-items: center;
  padding-left: 50px;
  justify-content: space-between;
  background: black;
}

.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#logo-text{
  font-size: 60px;
  font-weight: 500;
  font-family: 'Lobster', sans-serif;
  font-family: 'Playball', cursive;
  color: #edece8;
}

.menu {
  margin-right: 50px;
  width: 50vw;
}

.list{
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.list-item > a {
  color: #edece8;
  list-style: none;
}
/* navbar end */


/* herosection start */

.herosection{
  height: 400px;
  width: 100vw;
  background-color: rgb(245, 235, 235);
  padding: 50px 70px;
  display: flex;
}

.herosection-text {
  padding-left: 20px;
  padding-right: 20px;
}

.lorem {
margin-bottom: 15px;
}


.learn-more-btn{
  color: white;
  background-color: orange;
  border-radius: 3px;
  border: none;
  padding: 10px 10px;
  width: 120px;
  margin-top: 10px;
  font-weight: bold;
}
a{
  text-decoration:none ;
  color: #edece8;
}
a:hover{
  color: rgb(80, 255, 246);
}

.herosection-image {
  height: 100%;
  width: auto;
}

/* herosection end */


/* teaser start */
.teasersection{
  height: 400px;
  width: 100;
  background-color: white;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;

}
.teaser-image{
  height: 100px;
  width: auto;


}
.teaser-text{
margin-top: 90px;
padding-left: 20px;
padding-right: 20px;
}
.grid{
  display: inline-block;
  width: 30%;
}
.header{
  
  padding-left: 100px;
  font-size: 20px;
  margin: 10px;
}


footer{
  background-color: black;
  width: 100vw;
  height: auto;
  justify-content: center;
}
  .herofooter{
  
    padding-left: 70px;
    padding-right: 20px;
    
  
  }
  

.footer-grid{
  display: inline-block;
  width: 30%;
  margin: 5px;
  color: #edece8;
  border: red;
  justify-content: center;
}

.icon{
  display: flex;
  border: 1px solid red;
}

.calender{
  display: flex;
  margin-top: 5px;


}
#img{
  margin-right: 10px;

}



i{
  margin: 10px;
}